<h1>{{pagetitle}}</h1>

<form method="post" action="/addpost">
    <label>Create your post</label>
    <input type="text" name="title">
    <textarea name="article"></textarea>
    <input type="submit" value="Add post">
</form>