<h1>{{pagetitle}}</h1>

<form method="post" action="addpost">
    <label>Create your post</label>
    <input type="text" name="heading">
    <input type="text" name="article">
    <input type="submit" value="Add post">
</form>