<h1>{{pagetitle}}</h1>

<form method="POST" action="/addpost">
    <label>Create your post</label>
    <input type="text" name="title">
    <textarea name="context"></textarea>
    <button type="submit">Submit</button>
</form>