<h1>{{pagetitle}}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales nisi eu nisl sodales faucibus quis at ante. Maecenas bibendum molestie condimentum. Nam eu fringilla lectus. Morbi in suscipit dui, et pretium odio. Sed quis eros vitae elit placerat tristique at eget mauris. Ut purus velit, porta et hendrerit eget, varius ac ex. Fusce ac nulla non odio luctus pellentesque in porttitor velit. Integer imperdiet est nibh. Morbi malesuada quam eget risus vulputate scelerisque. Maecenas ligula arcu, interdum vel vehicula ac, ornare faucibus ligula. Integer id ligula elit. Sed id mi est. Nam pharetra rhoncus orci, et semper enim lobortis et.

Praesent sollicitudin quam dolor, vel lobortis risus placerat at. Phasellus sagittis pretium leo, at consequat metus scelerisque id. Proin efficitur dolor quis ligula fermentum, vel posuere ipsum pellentesque. Integer luctus augue eget placerat fermentum. Vivamus scelerisque venenatis lectus, dapibus congue enim rhoncus in. Vestibulum nec molestie ante. Aenean laoreet magna quam, quis fermentum quam congue eu. Aenean scelerisque ipsum elit, maximus commodo nunc ultrices vel. Quisque egestas mi sed tincidunt mollis. In a pretium sem.

Aliquam sodales elit non sapien euismod, vel sollicitudin nisi vestibulum. Vestibulum in arcu vitae quam iaculis tincidunt. Ut nulla augue, condimentum eu pellentesque a, fringilla non ex. Aenean pellentesque nibh mauris, sed faucibus mi egestas ac. Nulla commodo, tortor a elementum consectetur, tellus augue lacinia dui, at lobortis nisl elit sed dolor. Nam tellus justo, luctus a mi eget, vehicula lacinia purus. Aliquam tincidunt accumsan ultricies. Maecenas eu ligula dolor. Aenean at nibh vel ex porttitor vehicula. Proin lacinia augue magna, ac mollis nisl cursus a. Sed sit amet fringilla nunc, eget pellentesque metus. Sed dapibus mollis tellus nec volutpat. Integer non condimentum enim. Quisque rutrum nulla sed fringilla ornare.</p>

<div class="cards">
    {{#each posts}}
        <div class="card">
            <h2>{{this.title}}</h2>
            <p>{{this.context}}</p>
        </div>
    {{/each}}
</div>
