<form method="POST" action="/login_check">
    <label><h1>{{pagetitle}}</h1></label>
<br>
    {{#if errormessage}}
    <h2 class="error">{{errormessage}}</h2>
    {{/if}}

    <label for="username">Username:</label> 
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password: </label>
     <input type="password" name="password" id="password">
    <br><br>
    <button type="submit">Login</button>
</form>
