<h1>{{pagetitle}}</h1>
<br>
<div class="urheilublogi-main">
<h2>Fanisivu.org:n saavutettavuus-seloste</h2>
<br>
<p>
Tämä on Fanisivu.org:n saavutettavuus-seloste.
</p>
<br>
<h3>Toimenpiteet saavutettavuuden tueksi</h3>
<p>Fanisivu.org tekee seuraavia toimenpiteitä varmistaakseen sivustonsa saavutettavuuden:</p>
<al>
<li>Sisällytämme saavutettavuuden osaksi julkista toiminta-ajatustamme</li>
<li>Sisällytämme saavutettavuuden mukana yrityksemme sisäisissä toimintatavoissa</li>
<li>Asetamme selkeät saavutettavuuden tavoitteet ja vastuut</li>
</al>
<br>
<h3>Sivuston saavutettavuuden tila</h3>
<p>
The Web Content Accessibility Guidelines (WCAG) määrittelee vaatimukset suunnittelijoille ja kehittäjille parantaakseen saavutettavuutta ihmisille, joilla on jokin invaliditeetti. WCAG määrittelee 3 erilaista vaatimustasoa: Taso A, Taso AA ja Taso AAA.
</p>
<br> 
<p>
Organisaatio on itsearvioinut tämän sivuston saavutettavuutta hyödyntäen SiteImprove-ohjelmistoa ja NVDA ruudunlukuohjelmaa. Fanisivu.org on yhteensopiva WCAG 2.1 tason AA kanssa. 
</p>
<br>
<!-- Tästä alaspäin ei vielä gitissä-->

</div>