<h1>{{pagetitle}}</h1>
<br aria-hidden="true">
<div class="urheilublogi-main">
<h2>Fanisivu.org:n saavutettavuus-seloste</h2>
<br aria-hidden="true">
<p>Tämä on Fanisivu.org:n saavutettavuus-seloste.</p>
<br aria-hidden="true">
<h3>Toimenpiteet saavutettavuuden tueksi</h3>
<p>Fanisivu.org tekee seuraavia toimenpiteitä varmistaakseen sivustonsa saavutettavuuden:</p>
<al>
<li>Sisällytämme saavutettavuuden osaksi julkista toiminta-ajatustamme</li>
<li>Sisällytämme saavutettavuuden mukana yrityksemme sisäisissä toimintatavoissa</li>
<li>Asetamme selkeät saavutettavuuden tavoitteet ja vastuut</li>
</al>
<br aria-hidden="true">
<h3>Sivuston saavutettavuuden tila</h3>
<p>
The Web Content Accessibility Guidelines (WCAG) määrittelee vaatimukset suunnittelijoille ja kehittäjille parantaakseen saavutettavuutta ihmisille, joilla on jokin invaliditeetti. WCAG määrittelee 3 erilaista vaatimustasoa: Taso A, Taso AA ja Taso AAA.
</p>
<p>
Organisaatio on itsearvioinut tämän sivuston saavutettavuutta hyödyntäen SiteImprove-ohjelmistoa ja NVDA ruudunlukuohjelmaa. Fanisivu.org on yhteensopiva WCAG 2.1 tason AA kanssa. 
</p>
<br aria-hidden="true">
<!-- Tästä alaspäin ei vielä gitissä-->
<h3>Tekniset tiedot</h3>
<p>
Fanisivu.org:n saavutettavuus nojaa alla olevien teknologioiden toimivuuteen yhdessä selainten ja apuvälineteknologioiden tai -liitännäisten kanssa:
</p>
<al>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
</al>
<p>Nämä teknologiat noudattavat käytettäviä esteettömyys-standardeja.</p>
<br aria-hidden="true">
<h3>Sivuston toistaiseksi puutteelliset osiot:</h3>
<p>Kielivaihtoehtoina ei ole kuin suomi</p>
<h4>Jos huomaat muita saavutettavuuspuutteita sivustollamme, olethan ystävällinen ja kerrot sen meille, jotta voimme korjata puutteen:
</h4>
<p>saavutettavuus@fanisivu.org</p>
<br aria-hidden="true">
<h3>Valvontaviranomainen</h3>
<p>Jos huomaat sivustolla muita saavutettavuusongelmia, anna ensin palautetta meille eli sivuston ylläpitäjälle. Vastauksessa voi mennä korkeintaan 7 arkipäivää. Jos et ole tyytyväinen saamaasi vastaukseen tai et saa vastausta lainkaan viikon aikana, voit tehdä ilmoituksen Etelä-Suomen aluehallintovirastoon (yhteystiedot alla).  Etelä-Suomen aluehallintoviraston sivulla kerrotaan tarkasti, miten ilmoituksen voi tehdä ja miten asia käsitellään.
</p>
<br aria-hidden="true"/>
<h3>Valvontaviranomaisen yhteystiedot</h3>
<p>Etelä-Suomen aluehallintavirasto</p>
<p>Saavutettavuuden valvonnan yksikkö</p>
<p><a href="https://www.saavutettavuusvaatimukset.fi/">www.saavutettavuusvaatimukset.fi</a></p>
<p>puhelinnumero vaihde 029 501 6000</p>
</div>