 body {
    font-family: 'Impact';
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

main li{
    font-family: Arial, Helvetica, sans-serif;    
}

a{
    color: #072A40 !important;
}

h1{
    font-size: 40px !important;
}
h2{
    font-size: 30px !important;
}
h3{
    font-size: 25px !important;
}
h4{
    font-size: 20px !important;
}

a:visited{
    color: #191970!important;
  }

.otsikko{
    align-items: center !important;
    margin: auto; 
    padding-left: 250px;
    padding-right: 250px;
}

.navbar{
    background-image: url("img/Header-tausta.jpg") !important;
    background-position: center;
    text-transform: uppercase;
    font-size: 20px;
    height: 300px;
    padding: 100px;
    background-size: cover;
}


.nav-link{
    color: #072A40 !important;
    font-size: 35px !important;
}

.navbar-nav a:hover{
    color: #F9F7F0 !important;
}

.navbar-nav a:visited{
    color: #191970!important;
  }

/* Tällä saa headerin ilman reunoja ja kehyksiä */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
} 

.parallax-container {
    /* The image used */
    background-image: url('img/Body\ tausta.jpg');
  
    /* Set a specific height */
    min-height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
  }

 main{
    background-color: #F9F7F0;
    border-radius: 25px;
    margin-top: 5%;
    text-align: center;
    padding: 30px;
}

footer{
	background-color: #072A40;
	padding: 2rem;
	position: relative;
	height: auto;
    color: #F9F7F0;
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
    width: 100%;
}

footer h2{
    font-size: 20px;
}

footer a{
    color: #00BFFF;
    font-size: 20px;
    margin: auto;
}

 footer a:hover{
    color: #F9F7F0 !important;
}

footer a:visited{
    color: #C0C0C0!important;
  } 

.urheilublogi-main{
text-align: left !important;
}
