 body {
    font-family: 'Impact';
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

main li{
    font-family: Arial, Helvetica, sans-serif;    
}

a{
    color: #072A40 !important;
}
main a{
    background-color:lightblue;
}

  .skip-to-content-link {
    height: 30px;
    padding-left: 10%;
    position:absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
   .skip-to-content-link:focus {
    position: relative;
    transform: translateY(0%);
  }

/* Tuotekortin muotoilu */
.productcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(380px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 2.5rem;
    text-decoration: none;
    color: #080808;
    background-color: #fff;
    padding: 25px;
}    

h1{
    font-size: 2.5rem !important;
}
h2{
    font-size: 1.875rem !important;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: 1.563rem !important;
    font-family: Arial, Helvetica, sans-serif;  
}
h4{
    font-size: 1.25rem !important;
    font-family: Arial, Helvetica, sans-serif;  
}

a:visited{
    color: #191970!important;
  }

.otsikko{
    /* align-items: center !important; */
    margin: auto; 
    padding-left: 15rem;
    padding-right: 15rem;
}

.cards{
    align-items: center !important;
    text-align: center;
}

.navbar{
    background-image: url("img/Header-tausta.jpg") !important;
    background-position: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    height: 18.75rem;
    padding: 6.25rem;
    background-size: cover;
}


.nav-link{
    color: #072A40 !important;
    font-size: 2.188rem !important;
}

.navbar-nav a:hover{
    color: #F9F7F0 !important;
}

.navbar-nav a:visited{
    color: #191970!important;
  }


/* Tällä saa headerin ilman reunoja ja kehyksiä */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
} 

.parallax-container {
    /* The image used */
    background-image: url('img/Body\ tausta.jpg');
  
    /* Set a specific height */
    min-height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
  }

 main{
    background-color: #F9F7F0;
    border-radius: 1.563rem;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding: 1.875rem;
}

footer{
	background-color: #072A40;
	padding: 2rem;
	position: relative;
	height: auto;
    color: #F9F7F0;
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
    width: 100%;
}

footer h2{
    font-size: 1.25rem;
    font-family: 'Impact';
}

footer a{
    color: #00BFFF;
    font-size: 1.25rem;
    margin: auto;
}

 footer a:hover{
    color: #F9F7F0 !important;
}

footer a:visited{
    color: #C0C0C0!important;
  } 

.urheilublogi-main{
text-align: left !important;
}

.error {
    color: red;
  }
  
@media only screen and (max-width: 1320px) {
    .nav-link{
        font-size: 2.0rem !important; 
    } 
    .otsikko{
        margin-left: 140px;
        }
    }

@media only screen and (max-width: 900px) {
.otsikko{
margin-left: 75px;

}
}
@media only screen and (max-width: 450px) {
    .nav-link{
    font-size: 1.2rem !important;
    margin-right: 420px;
    } 
    }